:root {
    --green-gray: #5c715e;
    --sea-green: #b6cdbd;
    --pale-green: #ddeedf;
    --mint-cream: #f2f9f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0;
    width: 100%;
    background-color: var(--green-gray);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid white;
    z-index: 10;
    position: relative;
}

header h1 {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

header nav {
    font-size: 30px;
    font-weight: 550;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--sea-green);
    border: solid white;
}

main #blog-list {
    flex-grow: 1;
    margin-top: 0;
    padding: 55px;
    width: 100%;
}

article {
    display: block;
    width: auto;
    margin-bottom: 10px;
    padding: 36px;
    border: solid white;
}

article h2 {
    margin-top: 0;
    text-align: left;
}

article footer {
    text-align: left;
    font-style: italic;
    margin-top: 20px;
}

.button {
    background-color: var(--mint-cream);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 2px solid var(--green-gray);
    transition-duration: 0.4s;
}

.button:hover {
    background-color: var(--sea-green);
    color: black;
}

.main-footer {
    height: auto;
    padding: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--green-gray);
    color: black;
    border: solid white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Used media queries for responsive design for tablets and phones */ 
@media screen and (max-width: 768px) {
    header { /* to stack vertically and align in the center */ 
        flex-direction: column;
        align-items: center;
    }

    header h1,
    header nav { /* margin for space above the h1 and nav when stacked vertically */
        margin-top: 10px; 
    }
    
    main { /* Increase padding to ensure space between the main content and its border */
        padding: 15px; 
    }
    
    .button { /* adjusted button padding to fit smaller screens */
        padding: 3px 7px;
    }
    
    article { /* Reduced padding for smaller screens */
        padding: 15px; 
    }
    
    .main-footer { /* Consistent padding around the footer for balanced spacing on smaller screens */
        padding: 15px;
    }
}