:root {
    --green-gray: #5c715e;
    --sea-green: #b6cdbd;
    --pale-green: #ddeedf;
    --mint-cream: #f2f9f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--sea-green);
}

header {
    padding: 0;
    width: 100%;
    background-color: var(--green-gray);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid white;
    z-index: 10;
    position: relative;
}

header h1 {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

header nav {
    font-size: 30px;
    font-weight: 550;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

h2 {
    text-align: center;
}

/* to split the screen in half */ 
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    border: solid white;
}

/* Control the right side */
.right {
    right: 0;
    border: solid white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* to make image a circle */
    object-fit: cover; /* to make sure the image fills the circle nicely */
}

#form {
    width: 100%;
    height: 25%;
    margin-top: 300px;
    max-width: 600px;
    padding: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px; /* added padding for cushion around the text box */
    margin-top: 10px; /* for room above each text box */
    border: 1px solid var(--green-gray);
    border-radius: 4px;
    word-break: break-word;
}

#form #submit {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid var(--green-gray);
    color: var(--green-gray);
    background-color: var(--mint-cream);
}

#form #submit:hover {
    background-color: var(--green-gray);
    border: 2px solid var(--mint-cream);
    color: var(--mint-cream);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
    .split {
        width: 100%; /* to take up the full screen rather than be side by side*/
        position: relative;
    }

    .left,
    .right { /* Remove borders to simplify layout on smaller screens */
        border: none; 
    }

    .centered {
        position: relative;
        top: auto;
        left: 50%;
        transform: translateX(-50%); /* to recenter to content horizontally */
        margin-top: 20px;
    }

    .form {
        margin-top: 50px; /* Increase top margin to prevent overlapping and make the form easier to read on small screens. */
    }
}