:root {
    --green-gray: #5c715e;
    --sea-green: #b6cdbd;
    --pale-green: #ddeedf;
    --mint-cream: #f2f9f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--sea-green);
}

header {
    padding: 0;
    width: 100%;
    background-color: var(--green-gray);
    color: var(--mint-cream);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid white;
    z-index: 10;
    position: relative;
}

header h1 {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

header nav {
    font-size: 30px;
    font-weight: 550;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

h2 {
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* to hide the default html checkbox*/ 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mint-cream);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--green-gray);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--sea-green);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--mint-cream);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* to split the screen in half */ 
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    border: solid white;
}

/* Control the right side */
.right {
    right: 0;
    border: solid white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* to make image a circle */
    object-fit: cover; /* to make sure the image fills the circle nicely */
}

.form {
    width: 100%;
    height: 25%;
    margin-top: 300px;
    max-width: 600px;
    padding: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px; /* added padding for cushion around the text box */
    margin-top: 10px; /* for room above each text box */
    border: 1px solid var(--green-gray);
    border-radius: 4px;
}

.dark-mode {
    background-color: var(--green-gray);
    color: white;
}

/* Used media query to stack elements vertically on smaller screens */
@media screen and (max-width: 768px) {

    body header,
    section,
    img,
    .split {
        flex-direction: column;
    }
}